<% if @xday.nil? then %>
  <% @xday = Date.today.to_s %>
  <% else %>
  <% x =  @xday.to_s %>
<% date_split = Date.parse(x) %>
<% base_day = Date.civil(date_split.year, date_split.month, date_split.day)%>
<% base_day_first = Date.civil(date_split.year, date_split.month, 1) %>

<% for day in (base_day_first.beginning_of_week..base_day.end_of_month.end_of_week) %>

  <%= case day 
  when base_day_first.beginning_of_week...base_day_first
   "<div id=\"col\" style=\"background-image: url(/images/pk/kalendarz/#{day.day}_INACT.gif);\"></div>"


  when base_day_first..base_day.end_of_month
   if (day.wday == 6) && (day != base_day)
    "<div id=\"col\" style=\"background-image: url(/images/pk/kalendarz/#{day.day}_N_so.gif);\"></div>"
   elsif (day.wday == 0) && (day != base_day)
    "<div id=\"col\" style=\"background-image: url(/images/pk/kalendarz/#{day.day}_N_nd.gif);\"></div>"

   elsif day == base_day
    "<div id=\"col\" style=\"background-image: url(/images/pk/kalendarz/#{day.day}_ACT.gif);\"></div>"

   else
    "<div id=\"col\" style=\"background-image: url(/images/pk/kalendarz/#{day.day}_N.gif);\"></div>"

   end

when base_day.end_of_month+1.day..base_day.end_of_month.end_of_week
    "<div id=\"col\" style=\"background-image: url(/images/pk/kalendarz/#{day.day}_INACT.gif);\"></div>"
    end %>
<% end %>
<% end %>