<p>Chcesz poinformować wszystkich o swoim przedsięwzięciu kulturalnym? <br />
    <%= link_to("Zgłoś imprezę", zgloszenias_path )%>
    lub skontaktuj się z naszą redakcją!
</p>
  <p>Pełna Kultura<br><!-- ??br?? -->
    ul. Słowackiego 27<br><!-- ??br?? -->
    43-300 Bielsko-Biała<br><!-- ??br?? -->
    tel. 33 828 16 53<br><!-- ??br?? -->
    tel. 33 828 16 57<br><!-- ??br?? -->
    e-mail: pelna.kultura@um.bielsko.pl
  </p>      
