<h1>Wydarzenia z kategorii <%= params[:controller]%></h1>
<% @muzyka.each do |muzyka| %>
<p>
Tytuł: 
<%= link_to(muzyka.title, :controller => params[:controller], :action => "show", :id => muzyka) %>

</p>
<% end %>