<p>
  <b>Magazine:</b>
  <%=h @archiwe.magazine_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @archiwe.status %>
</p>


<%= link_to 'Edit', edit_archiwe_path(@archiwe) %> |
<%= link_to 'Back', archiwes_path %>