	
<div id="footer" class="clearfix">
| <a href="index.html">Wydarzenia</a>
| <a href="muza.html">Muzyka</a> | <a href="galerie.html">Galerie</a>
| <a href="teatr.html">Teatr</a> | <a href="film.html">Film</a> | 
<a href="book.html">Książki</a> | <a href="muzea.html">Muzea</a> | 
<a href="rozmaitosci.html">Rozmaitości</a> |<br />
| <a href="dodaj.html">Zgłoś imprezę</a> | 
  <a href="number.pdf">Bieżący numer w PDF</a> | 
  <a href="archiwum.html">Archiwum</a> |
  <div id="logo_bb"><a href="http://um.bielsko.pl" target="_top" title="Bielsko-Biała">
    <img src="/images/pk/logo_footer_bb.png" alt="Bielsko-Biała"/></a>
  </div><br /><br />
  <div id="copyright"><a href="http://www.wietor.pl">(&copy;) Design by Wietor</a>
  </div>
</div>

